.project__heading {
  width: 100%;
  text-align: center;
}
.project__heading h1 {
  font-weight: 700;
  color: rgb(3, 106, 141);
  margin: 40px;
}
.project__heading h5 {
  height: 3px;
  background-color: black;
  width: 150px;
  margin: auto;
  margin-bottom: 40px;
}
.project {
  background-color: white;
  margin: 20px 20px;
  color: rgb(26, 20, 20);
  min-height: 350px;
  box-shadow: 5px 2px 2px grey;
  border-radius: 10px;
  transition: 1s ease-in-out;
}
.project:hover {
  background-color: rgb(14, 10, 31);
  color: rgb(252, 243, 243);
  transform: translateY(-25px);
}
.project__info {
  padding: 15px;
}
.project img {
  width: 100%;
  object-fit: contain;
}
.anchor {
  font-size: 1.3rem;
  font-weight: 400;
}
